[Desktop Entry]
Name=MamoLinux Release Upgrader
GenericName=MamoLinux Release Upgrader
Comment=Upgrade MamoLinux to next availavle release
Exec=do-release-upgrade --allow-third-party --frontend=DistUpgradeViewGtk3
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;Settings;
X-Ubuntu-Gettext-Domain=update-manager
X-Unity-IconBackgroundColor=#4c9e39
