Source: mamolinux-settings
Section: admin
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0

Package: mamolinux-settings
Architecture: all
Depends: mamolinux-themes,
        plank,
        synapse,
        ${misc:Depends}
Description: MamoLinux Settings
 System-wide settings for MamoLinux
